body {
    margin: 0;
}
.images {
    position: relative;
    height: 75vh;
    margin-bottom: 5vh;
    overflow: hidden;
    z-index: 1;
    display: flexbox;
}
.image {
    width: 100vw;
    height: 76vh;
    opacity: 0.9;
    position: absolute;
    object-fit: cover;
    transform: translateX(100%);
    z-index: 3000;
}
.image.onscreen {
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 1s;
}
.image.exit {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
}
.point {
    height: 16px;
    width: 16px;
    border-radius: 180%;
    border: 2px solid white;
    margin-right: 15px;
    cursor: pointer;
}
.point.on {
    background: white;
}
.points {
    position: absolute;
    width: 100%;
    z-index: 5000;
    display: flex;
    justify-content: center;
    bottom: 20px;
}




@media screen and (min-width: 280px) and (max-width: 600px) {
    .images {
        height: 35vh;
        margin-bottom: 15vh;
      }
    .point{
        height: 10px;
        width: 10px;
    }
  }