
#choosefile{
width: 200px;
margin-top: 4vh;
}



.imageList {
    margin: 5vh 0 8vh 10vw;
    width: 80vw;
    height: auto;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .image-in-imageList {
    margin-right:8px;
    margin-bottom: 20px;
    height: 360px;
    width: 228px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 1px 1px 4px;
            box-shadow: 1px 1px 4px;
  }
  
  .image-in-imageList:hover {
    -webkit-box-shadow: 1px 1px 8px;
            box-shadow: 2px 2px 8px white;
  }

.navbar-projects {
    height: auto;
    left: 0;
    position: absolute;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  
  .navbar-projects a {
    margin-right: 1vw;
    font-size: 17px;
    color: black;
    letter-spacing: 1px;
  }
  
  .navbar-projects a:hover {
    text-shadow: 1px 0px 0px;
  }
  
  .contact-head p {
    position: absolute;
    top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .project-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    font-family: "Nunito";
  }
  .show-more{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
  }
  #show-more-button{
height: 40px;
width: 100px;
    border: 2px solid rgba(51, 51, 51);
    font-size: 12px;
    outline: none;

  }
  #show-more-button:hover {
    border: 3px solid rgba(51, 51, 51);
    font-size: 13px;
    /* box-shadow: 1px 1px 1px; */
  }
  #show-more-button:active {
    margin-left: 2px;
    margin-top: 1px;

    /* box-shadow: 1px 1px 1px; */
  }
  #projects-section{
    text-shadow: 1px 0px 0px;
    font-weight: 700;
  }

  #logo-projects{
    position: fixed;
  }