
#contact {
    width: 100vw;
    height: auto;
    margin-bottom: 6vh;
  }
  #map { 
    height: 370px; 
    width: 500px;
    position: absolute;
}
  .contact-head {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    height: 11vh;
  }
  
  .contact-head .contact-message {
    margin-bottom: 1vh;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 5px;
    font-size: 19px;
    font-weight: 700;
    margin-left: 5vw;
  }
  
  .contact-list {
    height: auto;
 
    display: flex;
    flex-direction: row;
        margin-left: 11vw;
  }
  
  .contact-list-box {

    padding: 7px;
    width: 40vw;
    height: 80vh;
    background-color: white;
    border-radius: 2px;
    -ms-flex-wrap: wrap;
    overflow: scroll;
    flex-wrap: wrap;
  }
  
  .contact-list-item {

    -webkit-box-shadow: 1px 1px 1px;
    box-shadow: 1px 1px 1px;
border: 1px solid;
    height: 140px;
    width: 400px;
    margin: 2vh 2vw;
    display: flex;
    flex-direction: row;
  }

  .contact-list-item-info{

    padding: 5px;
    width: 400px;
    height: 140px;
  }

  #contact-person-img{
    height: 138px;
    width: 140px;
    object-fit: contain;
  }
  
  .contact-list-item h1 {
    font-size: 18px;
  }
  
  .contact-list-item p {
    font-size: 14px;
  }
  
  .contact-list-item h2 a {
    color: #333333;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  .contact-list-item h2 a:hover {
    text-shadow: 1px 1px 0px;
  }

  #address{
    margin-left: 5vw;
    margin-top: 15vh;
  }
  #address p{
    width: 180px;
    margin-bottom: 1vh;
    font-size: 14px;
  }
  #address h1{
font-size: 22px;
  }