footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 210px;
    width: 100vw;
    background: #333333;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer-left {
    width: 20%;

    padding: 3vh 5vw;
  }
  
  .footer-left a {
    font-size: 16px;
    margin-bottom: 1vh;
    color: #f5f5f7;
    text-decoration: none;
  }
  
  .footer-left a:hover {
    text-shadow: 1px 0px 0px;
  }
  
  .footer-left p {
    font-size: 12px;
    color: #f5f5f7;
    width: 15vw;
  }
  

  .footer-center {
    width: 60% ;
  }


  .footer-right {
color: white;
width: 20%;
      }
  .footer-right h1{
    align-self: flex-start;

    font-size: 18px;
    margin-bottom: 3px;
      }
      .footer-right p{
        margin-bottom: 5px;
        font-size: 13px;
        width: 140px;
          }
          #footer-tel{
            width: 200px;
          }