#welcome {
  background-color: rgba(200, 201, 203, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
}

/* #welcome #welcome_message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("/welcome2.jpg");
    min-height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    width: 100vw;
    color: white;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 5vh;
  } */

#welcome-message {
  width: 50vw;
  font-size: 31px;
  font-weight: 700;
  opacity: 0.9;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 4vh 3vw;
  position: absolute;
  margin-top: 57vh;
  z-index: 100;
  color: white;
}

#logo img {
  height: 11vh;
  width: auto;
}

.homepage-header {
  letter-spacing: 0.5px;
  margin-bottom: 1vh;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}

@media screen and (min-width: 280px) and (max-width: 600px) {
  .homepage-header {
    font-size: 11px;
  }

  #welcome-message {
    width: 90vw;
    font-size: 16px;
    opacity: 0.85;
    margin-top: 19vh;
  }
}
